@page "/customers"
@using Softnotik.UI.Shared.ViewModels.CustomerViewModels

@inject ICustomerViewModel _customerViewModel
@inject NavigationManager _navigationManager

<h2 class="white-text"><b>Customers</b></h2>
<hr class="white-horizontal-line" />

<div class="col-12 row">
    <input type="text" class="col-12 form-control dark-theme-textbox" placeholder="search" />
</div>
<br />
@if(_customerViewModel.CustomersCount > 0)
{
    <Virtualize ItemsProvider="LoadAllCustomers" Context="customer">
        <ItemContent>
            <div style="height: 50px">
                <a 
                   class="list-group-item list-group-item-action flex-column align-items-start contact-list-item">
                    @customer.FullName 
                </a>
            </div>
        </ItemContent>
        <Placeholder>
            <div style="height: 50px">
                <p>Loading...</p>
            </div>
        </Placeholder>
    </Virtualize>
}
<br />

@code {
    [CascadingParameter]
    public Error Error { get; set; }

    private async ValueTask<ItemsProviderResult<CustomerVM>> LoadAllCustomers(ItemsProviderRequest itemsProviderRequest)
    {
        await _customerViewModel.LoadAllCustomers();
        return new ItemsProviderResult<CustomerVM>(_customerViewModel.Customers, _customerViewModel.CustomersCount);
    }
}
